<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Predicting Earning Surprises</title>
    
  <!-- CSS  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <!--Menu Bar-->
    <div class="ui large secondary pointing menu">
        <a class="item">Saylent</a>
    </div>
    <!--Page Body-->
    <div class="ui vertical inverted masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header">Predicting Earning Prices</h1>
            <h2>Page is currently under construction</h2>
            <a href="https://github.com/Salyent-Research/predicting_earnings_surprises">
            <button class="ui purple labeled icon large button">
                <i class="github icon"></i>
                Github
            </button>
            </a>
        </div>
    </div>
    <!--Footer-->
    <div class="ui vertical footer segment">
        <div class="ui container">
            <h4 class="ui header">Footer Header Goes Here</h4>
        </div>
    </div>
    <!--Script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</body>
</html>
